# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
db/
rdb/

# dependencies
node_modules/
**/node_modules

*/.pnp
.pnp.jsl

# testing
*/coverage

# production
*/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# native
/native/node_modules/**/*
/native/.expo/*
/native/npm-debug.*
/native/*.jks
/native/*.p8
/native/*.p12
/native/*.key
/native/*.mobileprovision
/native/*.orig.*
/native/web-build/